<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="tcpEndPoint"
                address="net.tcp://localhost:44444"
                binding="netTcpBinding"
                contract="TaskManagerService.WCFService.ITaskManagerService" />
    </client>
  </system.serviceModel>
</configuration>