<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="2.2.0" targetFramework="net45" />
  <package id="FluentAssertions" version="1.7.1.1" targetFramework="net40-Client" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net40-Client" />
  <package id="NSubstitute" version="1.4.3.0" targetFramework="net40-Client" />
  <package id="xunit" version="1.9.0.1566" targetFramework="net40-Client" />
</packages>