<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.serviceModel>
    <services>
      <service name="TaskManagerHost.WCFServer.TaskManagerService">
        <endpoint binding="netTcpBinding" contract="TaskManagerHost.WCFServer.ITaskManagerService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:44444"/>
            <add baseAddress="net.tcp://192.168.22.124:44444"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
